.product-card-title { 
    min-height: 6.4rem;
}

.card-container > .content-type > .pgn__card-header-content {
    margin-top: 0;
}

.pgn__card-logo-cap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pgn__card-image-cap {
    border-radius: 0;
}
