.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Thumbnail */
.card-thumbnail {
  top: 60%;
  width: clamp(100px, 50%, 140px);
  height: 80px;
  object-fit: cover;
  left: 10%;
}

.cards-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
    .cards-scroll {
      overflow-x: auto;
      display: flex;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }

    .card-snap {
      flex: 0 0 100%;
      scroll-snap-align: center;
    }
}