.dismissable-banner-container {
    margin-top: var(--pgn-spacing-lg);
    .renew-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 180px;
        height: 36px;
        margin-left: var(--pgn-spacing-lg);
        background-color: #A75B30;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: var(--pgn-color-white);
        border-radius: 18px;
        padding: 0 10px;
        &:hover {
            text-decoration: none;
          }
    }
}