.program-title {
  font-size: 2.5rem;
  color: var(--pgn-color-dark-700);
}

.program-type-label{
  color: var(--pgn-color-info-900);
  font-size: 22px;
  margin-bottom: 0.3rem;
}

.program-journey-header{
  font-size: 2rem;
  color: var(--pgn-color-primary-500);
}

.program-journey-text{
  color: var(--pgn-color-gray-700);
  font-size: 1em;
}