.cards-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-scroll::-webkit-scrollbar {
  display: none;
}

@media (--pgn-size-breakpoint-max-width-sm) {
  .cards-scroll {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
  }

  .card-snap {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
}