.cards-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
    .cards-scroll {
      overflow-x: auto;
      display: flex;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }

    .card-snap {
      flex: 0 0 100%;
      scroll-snap-align: center;
    }
}