.subscription-banner-container {
    margin-top: var(--pgn-spacing-lg);
    .renew-button {
        background-color: #A75B30;
        border: none;
        &:hover {
            background-color: #A75B30;
        }
    }
}
